//https://magento.stackexchange.com/questions/344528/magento-2-4-3-the-store-will-not-work-correctly-in-the-case-when-cookies-are-d
.cookie-status-message {
  display: none;
}

.page-header {

  .panel.wrapper {
    border-bottom: 0;
  }

  .block-search {
    input {
      border-color: #f3f3f3;
      height: 50px;
      margin: 20px;
      background-color: #FAFAFA;
      border-radius: 25px;
      padding: 0 25px;
    }
  }
}



.footer-contact-section {
  .footer-contact-box {
    display: flex;

    .footer-contact-image {
      width: 75px;
      height: 75px;
      background-color: #035193;
      padding: 15px;
      margin-right: 15px;
      border-radius: 15px;
    }
  }

  .footer-contact-text {
    flex: 1;
    display: flex;
    flex-direction: column;

    h5 {
      color: #035193;
      font-size: 26px;
      font-family: @font-family-name__base;
      font-weight: 700;
      margin: 0;
      text-transform: none;
    }
    p{
      margin: 0;
      font-size: 21px;
    }
  }
}

.footer-bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}