//https://magento.stackexchange.com/questions/344528/magento-2-4-3-the-store-will-not-work-correctly-in-the-case-when-cookies-are-d
.cookie-status-message {
  display: none;
}

.page-header {



  .panel.wrapper {
    border-bottom: 0;
  }

  .block-search {
    input {
      border-color: #f3f3f3;
      height: 50px;
      margin: 20px;
      background-color: #FAFAFA;
      border-radius: 25px;
      padding: 0 25px;
    }
  }
}



.horizontalTab {
  h2 {
    text-align: center;
  }
}

.footer-main {
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: solid 1px #dbdbdb;

  .footer-right-column {
    h2 {
      color: #035193;
    }

    .container {
      p {
        font-size: 18px;
      }

      input {
        border-radius: 25px;
        padding: 10px 25px;
        height: 50px;
        margin-bottom: 20px;
      }
    }
  }
}

.footer-address {
  address {
    margin: 30px 0;
    font-weight: 500;
  }
}

.footer-map-link-section {
  a {
    font-size: 16px;
    font-weight: 700;
  }
}

.footer-contact-section {
  margin: 50px 0 0;

  .container {
    padding-bottom: 40px;
    border-bottom: solid 1px #dbdbdb;
  }

  .footer-contact-box {
    display: flex;

    .footer-contact-image {
      width: 75px;
      height: 75px;
      background-color: #035193;
      padding: 15px;
      margin-right: 15px;
      border-radius: 15px;
    }
  }

  .footer-contact-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;

    h5 {
      color: #035193;
      font-size: 26px;
      line-height: 26px;
      font-family: @font-family-name__base;
      font-weight: 700;
      margin: 0;
      text-transform: none;
    }

    p {
      font-family: @font-family-name__base;
      font-weight: 500;
      margin: 0;
      font-size: 21px;
      line-height: 21px;
    }
  }
}


.newsletter-signup {
  input {
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 16px;
  }

  button {
    background-color: @primaryBlue;
  }
}

.footer-links-section {
  display: flex;

  ul {
    flex: 1 0 50%;

    li {
      padding: 8px 0;

      a {
        color: #000;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.footer-category-links {
      li {
        font-weight: 700;
      }
    }
  }
}

.footer-bottom-section {
  padding: 20px;

  .container {
    display: flex;
    justify-content: space-between;
  }
}




// CATEGORY PAGE
.sidebar-main .block.filter {
  .block-title.filter-title {
    display: none;
  }

  .filter-options.filter-options-title,
  .content .options dt {
    font-family: @font-family-header;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .filter-options {
    .count {
      font-weight: 700;
      font-size: 16px;
      padding: 0 5px;
      color: #000;
    }

    .count:after,
    .count:before {
      content: '';
    }
  }
}


.product-info-main .action.primary>span::after,
.product .add-to-cart-button button>span::after,
body.page-products .products.products-grid .product-item-inner .actions.product-item-actions .actions-primary button.tocart.primary span::after {
  content: url(/media/svgs/angle-right-w.svg);
  width: 12px;
  display: inline-block;
  padding-left: 6px;
  line-height: 14px;
  vertical-align: text-bottom;
}

.page-products {

  .page-title-wrapper .page-title {
    font-family: 'Montserrat';
    font-weight: 900;
  }

  .products.products-grid .product-item-inner .actions.product-item-actions .actions-primary button.tocart.primary {
    width: auto;
  }


  .product-item .old-price {
    margin: 0;
    display: block;
  }


  .products.grid.products-grid {
    padding-left: 60px;

    .product-item-info {
      text-align: center;
    }
  }

  .product-item-name {
    margin: 10px 0;

    .product-item-link {
      color: #000;
      font-size: 17px;
      font-weight: 500;
    }
  }
}



// PRODUCT VIEW

.catalog-product-view {
  
  .product-info-main,
  .product-col-related {
    margin-top: 50px;
  }

  .page-title-wrapper.product .page-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .product-top-buttons {
    display: none;
  }

  .products.grid.products-grid .product-items .item.product.product-item {
    text-align: center;
  }

  .page-main .actions {
    margin-top: 40px;
  }

  .product.info.detailed {
    .product.data.items {

      .item.title {
        a {
          position: relative;
          text-decoration: none;
          background-color: transparent;
          color: #000;
          padding: 10px 20px;
          border-radius: 50px;
          margin: 0 7px;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 700;
        }

        &.active {
          a {
            background-color: @primaryBlue;
            color: #fff;
          }
        }
      }

      >.item.title>.switch,
      >.item.content {
        border: none;
      }

      .tab-titles {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
      }

      .tab-content {
        font-size: 1.2em;
      }
    }
  }


  .product-info-main {

    .product-info-price {

      display: flex;
      gap: 20px;
      align-items: flex-end;
      margin: 40px 0;

      .old-price .price-wrapper .price {
        color: #000;
        font-size: 21px;
        font-weight: 500;
      }

      .price-box {
        padding-bottom: 2px;
      }
    }

    .stock.available {
      display: inline-block;
      background: #26569a;
      padding: 6px 14px;
      border-radius: 25px;
      color: #fff;
    }
  }

  .product-lower {
    clear: both;
    padding-top: 60px;

    .block-title strong,
    H2 {
      text-align: center;
      font-size: 25px;
      color: #464646;
      font-weight: 900;
      display: block;
      text-transform: uppercase;
      font-family: @font-family-header;
    }

    .related {
      padding-top: 60px;

      .block-actions {
        display: none;
      }

      .block-title strong,
      H2 {
        text-align: center;
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 50px;
        display: block;
        text-transform: uppercase;
        color: @primaryBlue;
        font-family: @font-family-header;
      }

      .field.choice {
        display: none;
      }
    }

  }

  .page-main .actions {
    margin-top: 20px;
  }

  .product-form-container .action.primary {
    text-transform: uppercase;
  }
}


.products {

  .product-item,
  .product {
    .product-item-info {
      width: auto;
    }

    .product-item-link {
      color: #000;
      font-weight: 500;
      font-size: 17px;
    }

    .price-box .price {
      font-size: 21px;
    }
  }
}