
//https://magento.stackexchange.com/questions/344528/magento-2-4-3-the-store-will-not-work-correctly-in-the-case-when-cookies-are-d
.cookie-status-message {
  display: none;
}

.page-header {

  .panel.wrapper {
      border-bottom: 0;
  }

  .block-search {
    background-color: tomato;
      input {
          border-color: #f3f3f3;
          height: 50px;
          margin: 20px;
          background-color: #FAFAFA;
          border-radius: 25px;
          padding: 0 25px;
      }
  }
}
