data/magento2/mysql/*
data/magento2/rabbitmq/*
data/magento2/www/pub/media/.htaccess
data/magento2/www/pub/media/*
data/magento2/www/pub/media/catalog/*
data/magento2/www/media/wysiwyg/*
data/DB-WP.sql
data/DB.sql
data/magento2/www/wp/*
DB.sql
DB-WP.sql
data/magento2/www/vendor/*
