@navigation__background: @navigation__bg;


// BEGIN reset styles
a,
button {
    transition: .3s ease;
}

em {
    color: @color-primary;
}

pre {
    white-space: normal;
}

dl {
    dt {
        font-weight: 700;
    }

    dd {
        font-style: italic;
        padding-left: 8px;
    }
}

*,
ul,
ul>li,
ol>li {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


// END reset



// Navigation
[id="store.menu"] {
    background-color: @navigation__bg;
}

.sections.nav-sections {
    .navigation {
        background-color: @navigation__bg;
        color: #fff;

        .level0>.level-top {
            padding: 15px 20px;

            span {
                color: #fff;
                text-transform: none;
            }
        }
    }
}


//  Top Contact Bar

.top-contact-bar {
    padding: 10px;
    background-color: #e7f1fa;
    text-align: center;
    color: #000;
    font-weight: 700;

    a {
        color: #000;
        font-weight: 700;
    }
}

.page-header {

    .panel.wrapper {
        border-bottom: 0;
    }

    .block-search {
        flex: 1;
        input {
            border-color: #f3f3f3;
            height: 50px;
            margin: 20px;
            background-color: #FAFAFA;
            border-radius: 25px;
            padding: 0 25px;

            &::placeholder{
                color: #5E5E5E;
            }
        }
        .action.search {
            position: absolute;
            right: -80px;
            width: 50px;
            height: 50px;
            top: 20px;
        }
    }
}